@media screen and (max-width: 1130.98px) {
    .how-work{
        h4{
            width: max-content;
        }

        &__list{
            justify-content: center;
        }
    }

}

@media screen and (max-width: 610px) {
    .how-work{

        padding: 0px 15px;

        h4{
            width: auto;
            text-align: center;
        }

        &__list{
            width: auto;
            
            li{
                flex-direction: column;
                width: 95%;
                width: 100%;
                padding: 0px 10px;
            }

        }

        &__list-item-number{
            margin: 0;
        }

        &__list-item{
            width: auto;
        }

        &__list-item-text{
            font-size: 20px;
        }

        &__input-btn{
            font-size: 17px;
            padding: 15px 24px;
        }
    }
}