section.how-work
    h4|Как мы работаем?
    ul.how-work__list
        li
            span.how-work__list-item-number|01
            .how-work__list-item
                p.how-work__list-item-text|Берем все заботы по процедуре оформления на себя
                a.how-work__list-item-more-link(href="#")|подробнее
        li
            span.how-work__list-item-number|02
            .how-work__list-item
                p.how-work__list-item-text|Честно озвучиваем плюсы и минусы программы
                a.how-work__list-item-more-link(href="#")|подробнее
        li
            span.how-work__list-item-number|03
            .how-work__list-item
                p.how-work__list-item-text|Полная конфиденциальность клиентов
                a.how-work__list-item-more-link(href="#")|подробнее
        li
            span.how-work__list-item-number|04
            .how-work__list-item
                p.how-work__list-item-text|Предоставляем полный консьерж-сервис
                a.how-work__list-item-more-link(href="#")|подробнее
        li
            span.how-work__list-item-number|05
            .how-work__list-item
                p.how-work__list-item-text|Проводим рповерку документов до подачи заявки
                a.how-work__list-item-more-link(href="#")|подробнее
        li
            input.how-work__input-btn(type="submit" name="btn" value="получить консультацию")
            //- .how-work__list-item-btn-wrap
            //-     button.how-work__list-item-btn|получить консультацию

    