section.team
    h4|Наша команда
    .team__item-wrap
        
        .team__item
            img.team__item-img(src="./img/sergej.png", alt="")
            .team__item-description
                p.team__item-description-name|Сергей Безухов
                p.team__item-description-position|управляющий партнер
                p.team__item-description-activity|операционный директор, эксперт 
                                                    br
                                                    |по инвестиционной иммиграции в ЕС
                p.team__item-description-does|Поможет подобрать нужную программу исходя из задач и возможностей клиента. 
                                                |Проведет проверку соответствия критериям программ.
                                                |Курирует работу представительств компании в Москве, Алмааты и Киев
                a.team__item-description-more-link(href="#")|подробнее
                ul.team__item-description-list
                    li
                        a(href="#")
                            include img/instagram.svg
                    li
                        a(href="#")
                            include img/twiter.svg
                    li
                        a(href="#")
                            include img/facebook.svg
                    li
                        a(href="#")
                            include img/linkedin.svg
                    li
                        a(href="#")
                            include img/snob.svg

        .team__item
            img.team__item-img(src="./img/snezhana.png", alt="")
            .team__item-description
                p.team__item-description-name|Снежана Бодиштяну
                p.team__item-description-position|управляющий партнер
                p.team__item-description-activity|адвокат, кандидат юр. наук 
                                                    br
                                                    |(международный коммерческий арбитраж)
                p.team__item-description-does|Номер лицензии MILP and MRVP Agent - 108. Поможет оформить статус на Мальте, 
                                                |сопровождает оформление инвестиционных программ ПМЖ и гражданства с момента 
                                                |заключения и до окончания порграммы
                a.team__item-description-more-link(href="#")|подробнее
                ul.team__item-description-list
                    li
                        a(href="#")
                            include img/instagram.svg
                    li
                        a(href="#")
                            include img/twiter.svg
                    li
                        a(href="#")
                            include img/facebook.svg
                    li
                        a(href="#")
                            include img/linkedin.svg
                    li
                        a(href="#")
                            include img/snob.svg

        .team__item
            img.team__item-img(src="./img/anna.png", alt="")
            .team__item-description
                p.team__item-description-name|Анна Шумская
                p.team__item-description-position|партнер
                p.team__item-description-activity|руководитель EUEasy
                p.team__item-description-does|Поможет оформить "золотую визу" или статус финансово независимого лица в Германии, 
                                                |Италии и Испании и купить недвижимомть в Греции - лицензированный риелтор.
                a.team__item-description-more-link(href="#")|подробнее
                ul.team__item-description-list
                    li
                        a(href="#")
                            include img/instagram.svg
                    li
                        a(href="#")
                            include img/twiter.svg
                    li
                        a(href="#")
                            include img/facebook.svg
                    li
                        a(href="#")
                            include img/linkedin.svg
                    li
                        a(href="#")
                            include img/snob.svg
