section.connect
   h4|Связаться с нами
   form.connect__form
      .connect__form-wrap
         input.connect__input-name(type="text" name="name" placeholder="Имя")
         input.connect__input-email(type="email" name="email" placeholder="E-mail")
      input.connect__input-btn(type="submit" name="btn" value="получить условия программы")
      a.connect__privacy-policy(href="#")|
                                          span.connect__star|* 
                                          |Подробную информацию о том, как мы обрабатываем ваши личные данные, можно найти в разделе
                                          br|
                                          span.connect__line|"Политика конфиденциальности Migration Group"
