@media screen and (max-width: 895.98px) {
    .connect{
        width: 90%;

        &__form{
            // width: inherit;
            width: 80%;
        }
        
        &__form-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__input-name, &__input-email{
            width: 100%;
        }

        
        &__input-name{
            margin-right: 0;
        }

        &__input-email{
            margin-left: 0;
        }
    }

}