header.header
  .header__container
    p.header__text|О компании
  .header__title
    h4|Помогаем с инвестиционной иммиграциейот ВНЖ до гражданства
    .header__subtitle
      p|Подберем программу инвестиционного гражданства, которая подойдет под ваш бюджет и решит поставленные задачи. 
        |Например, получить максимально возможное количество стран с безвизовым правом въезда или свободу проживания в странах ЕСdiv
      p|Работаем с рускоязычными клиентами из любой страны мира. Оформляем статус только в рамках легальных государственных
        |программ Европы и стран Карибского бассейна